<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %} FeedFront {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'mystyle.css' %}">
    <script type="text/js" src = "{% static 'Bootstrap/js/bootstrap.min.js'%}">
    </script>
  </head>

  <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}"  style="padding-left: 30px;">FeedFront</a>
             </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" style="padding-right: 30px;">
                    <li><a href="/register">Play</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="content" class = "container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
